@{
    ViewBag.Title = "Home Page";
}


<h1>Talk To Alfred</h1>
@{
    ViewData["Title"] = "Alfred";
}

<form>
    <div class="jumbotron" ; style="opacity: 0.8;">
        <div class="row">
            <div class="col-sm-4">
                <textarea class="target" id="userResponse" rows="5"></textarea>
            </div>
            <div class="col-sm-4" , id="alfredResponse"></div>
            <div class="col-sm-4"></div>
        </div>
    </div>
</form>

<br />
<br />

<div>
    <form id="my-form" class="simple-form">
        <input type="text" id="input" name="userMessage" placeholder="Talk to Alfred here" />
        <button type="button" id="button1" onclick="alfredTalk()">Send Message</button>
        <button type="button" id="button2" onclick="startListening()">Use Speech Recognition</button>
    </form>
</div>

<table id="my-table" border="1px solid black">
    <tr>
        <th>Name</th>
        <th>Day of Plan</th>
        <th>Month of Plan</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Description</th>
    </tr>
</table>


<script>
    window.SpeechRecognition = window.webkitSpeechRecognition || window.SpeechRecognition;
    let finalTranscript = '';
    let recognition = new window.SpeechRecognition();
    recognition.interimResults = true;
    recognition.maxAlternatives = 10;
    recognition.continuous = false;
    recognition.onresult = (event) => {
        let interimTranscript = '';
        for (let i = event.resultIndex, len = event.results.length; i < len; i++) {
            let transcript = event.results[i][0].transcript;
            if (event.results[i].isFinal) {
                finalTranscript += transcript;
            } else {
                interimTranscript += transcript;
            }
        }
        document.getElementById('userResponse').innerHTML = finalTranscript + interimTranscript;
        PrintEventShown(finalTranscript);
        finalTranscript = '';
    }
    function startListening() {
        recognition.start();
    }

    function PrintEventShown(textPass) {
        $("#input").val(textPass);
        $("#userResponse").val(textPass);
        $("#button1").click();
        $("#input").empty();
        $("#userResponse").empty();
    }

</script>
<script src="~/js/Alfred.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>

