@{
    ViewBag.Title = "Home Page";
}


<h1>Talk To Alfred</h1>
@{
    ViewData["Title"] = "Alfred";
}
<h8>You can talk to Alfred by either writing him a message below or pressing the Q button on your keyboard and then speaking.</h8>
<form>
    <div class="jumbotron" ; style="opacity: 0.8; background-color: #b8e3f5">
        <div class="row">
            <div class="col-sm-5">
                <center>
                    <textarea class="target" id="userResponse" rows="5" style="opacity: 0.8; width: 200%"></textarea>
                </center>
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-5">
                <center>
                    <textarea class="target" id="alfredResponse" rows="5" style="opacity: 0.8; width: 200%"></textarea>
                </center>
            </div>
        </div>
    </div>
</form>
 @*, id="alfredResponse"*@
<br />
<br />

<div>
    <form id="my-form" class="simple-form">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <center>
                    <input type="text" id="input" style="width: 200%; opacity:0.8" name="userMessage" placeholder="Write Alfred a message here" />
                    <button type="button" style="opacity:0.8" class="btn-info" id="button1" onclick="alfredTalk()">Send Message</button>
                    @*<button type="button" id="button2" onclick="startListening()">Use Speech Recognition</button>*@
                </center>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </form>
</div>
<br />
<br />
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <h4 style="text-decoration: underline">Ask me to see your schedule here</h4>
    </div>
    <div class="col-sm-4"></div>
</div>
<form>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <table id="my-table" style="opacity:0.8;" class="table-info" border="1px solid black" width="100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Day of Plan</th>
                        <th>Month of Plan</th>
                        <th>Start Date</th>
                        <th>Start Time</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody id="table-body">
                </tbody>
            </table>
        </div>
        <div class="col-md-1"></div>
    </div>
</form>
<br />
<br />
<br />
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <h4 style="text-decoration: underline">Ask me to see local events happening in your area</h4>
    </div>
    <div class="col-sm-4"></div>
</div>
<form>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <table id="events-table" style="opacity:0.8;" class="table-info" border="1px solid black" width="100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Event Location</th>
                        <th>Buy Tickets</th>
                    </tr>
                </thead>
                <tbody id="events-body">
                </tbody>
            </table>
        </div>
        <div class="col-sm-1"></div>
    </div>
</form>

<script>
    document.onkeydown = function (e) {
        if (e.key == "q") {
            recognition.start();
        }
    }

    window.SpeechRecognition = window.webkitSpeechRecognition || window.SpeechRecognition;
    let finalTranscript = '';
    let recognition = new window.SpeechRecognition();
    recognition.interimResults = true;
    recognition.maxAlternatives = 10;
    recognition.continuous = false;
    recognition.onresult = (event) => {
        let interimTranscript = '';
        for (let i = event.resultIndex, len = event.results.length; i < len; i++) {
            let transcript = event.results[i][0].transcript;
            if (event.results[i].isFinal) {
                finalTranscript += transcript;
            } else {
                interimTranscript += transcript;
            }
        }
        document.getElementById('userResponse').innerHTML = finalTranscript + interimTranscript;
        PrintEventShown(finalTranscript);
        finalTranscript = '';
    }
    function startListening() {
        recognition.start();
    }

    function PrintEventShown(textPass) {
        $("#input").val(textPass);
        $("#userResponse").val(textPass);
        $("#button1").click();
        $("#input").empty();
        $("#userResponse").empty();
    }

</script>
<script src="~/js/NewAlfred.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>

